@import url("https://api.fontshare.com/v2/css?f[]=satoshi@900,500&display=swap");

:root {
  --warning: #ff9a9a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: "Satoshi", Arial, Helvetica, sans-serif;
}

*::selection {
  background-color: transparent;
}

body {
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #d9d9d9;
}
.container {
  width: 700px;
  height: 100%;
  padding: 63px 27px;
}

h1 {
  font-size: 64px;
  font-weight: bolder;
}

p {
  color: #666;
  margin-bottom: 63px;
}

.card-todo {
  max-width: 646px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  display: flex;
}

.input-todo {
  min-width: 75px;
  border: none;
  margin: 0 16px;
}

.input-todo:focus {
  outline: none;
  border: none;
}

.input-todo::selection {
  background-color: lightblue;
}

input[type="checkbox"] {
  width: 25px;
  height: 25px;
  align-self: center;
  transition: all ease-in-out;
}

input[type="checkbox"]:checked ~ input[type="text"] {
  color: #666;
  text-decoration: line-through;
}

.btn-delete {
  margin-left: auto;
  padding: 0 5px;
  border-radius: 5px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: hsl(0, 0%, 30%);
}

.todos {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn-create {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-40%);
  transition: all 250ms ease-in-out;
  z-index: 999;
}

.btn-create:hover {
  transform: translateX(-50%) translateY(-60%) rotate(-90deg);
  box-shadow: 0 0 20px hsla(0, 0%, 0%, 0.28);
}

.notodo-list {
  display: flex;
  justify-content: left;
  align-items: center;
  color: #6666665d;
}

.notodo-list h2 {
  font-size: 3rem;
  font-weight: 400;
}

@media only screen and (max-width: 700px) {
  .container {
    width: 100vw;
    padding: 20px 20px;
  }

  p {
    margin-bottom: 37px;
  }
}
